@font-face {
  font-family: 'Montserrat-Medium';
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url("../fonts/Montserrat/Montserrat-ExtraLight.ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-Bold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
  font-weight: normal;
  font-style: normal; }

 @font-face {
  font-family: 'Montserrat-SemiBold';
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
  font-weight: normal;
  font-style: normal; }

   @font-face {
  font-family: 'Montserrat-Light';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
  font-weight: normal;
  font-style: normal; }


a{
	text-decoration: none;
	color: white;
}

/*HEADER*/
.wrap_header{
	position: absolute;
	width: 1920px;
	height: 820px;
	background: url(../img/shadow.png);
}
.header {
  width: 1920px;
  height: 820px;
  background-image: url(../img/food_first.png); 
}

.header_nav{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.header_nav>li{
	display: inline-block;
	margin-left: 60px;
	margin-top: 50px;
	font-family: 'Montserrat-Medium';
	height: 30px;
	border-bottom: 3px solid transparent;
	cursor: pointer;
	transition: border-bottom 0.5s;
}

.header_nav>li>a{
	opacity: 0.5; 
	transition: opacity 0.5s;
}

.header_nav>li:hover>a{
	opacity: 1; 
}

.header_nav>li:hover{
	border-bottom: 3px solid white;
}

.header_logo{
	width: 270px;
	display: block;
	margin-top: 370px;
	margin-bottom: 130px;
	margin-left: auto;
	margin-right: auto;
}

.header_button{
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	margin-top: 70px;
	width: 150px;
	height: 40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: transparent;
	color: white;
	border: 2px solid white;
	cursor: pointer;
	outline: none;
}

.header_button:hover{
	box-shadow: 0px 0px 15px 1px white;
}

.header_button:active{
	box-shadow: 0px 0px 25px 5px white;
}



/*MENU*/

.menu_box{
	display: block;
}

	.menu{
		width: 1920px;
		height: 130px;
		background: black;
		border-top: 5px solid red;
		border-bottom: 5px solid red;
	}

		.menu_item{
			display: inline-block;
			width: 380px;
			height: 130px;
			background-size: cover;
		}
			

					.menu_item>p:hover{
						background: rgba(0,0,0,0.1);
						cursor: pointer; 
					}

					.menu_item>p{
						position: absolute;
						display: block;
						width: 380px;
						height: 85px;
						background: rgba(0,0,0,0.7); 
						color: white;
						font-size: 30pt;
						text-align: center;
						padding-top: 45px;
	  					font-family: 'Montserrat-ExtraLight';
	  					transition: background 1s;
					}


			.--menu_first{
				background-image: url(../img/breakfast_menu.png);
			}

			.--menu_second{
				background-image: url(../img/borh.png);
			}

			.--menu_third{
				background-image: url(../img/fish_menu.png);
			}

			.--menu_fourth{
				background-image: url(../img/desert_menu.png);
			}

			.--menu_fifth{
				background-image: url(../img/coffee_menu.png);
				width: 383px;
			}



/*SLIDER*/
.slider_box{
	position: relative;
	width: 1920px;
	height: 1020px;
	z-index: 100;
}


div.slider_box_img{
	z-index: 5;
	position: relative;
	width: 1920px;
	height: 1020px;
	background-image: url(../img/food_one.png);
	background-size: cover;
}
div.slider_box_img_second{
	z-index: 5;
	position: relative;
	width: 1920px;
	height: 1020px;
	background-image: url(../img/pizza.png);
	background-size: cover;
}

div.slider_box_img_third{
	z-index: 5;
	position: relative;
	width: 1920px;
	height: 1020px;
	background-image: url(../img/omar.png);
	background-size: cover;
}

.slider_box_line{
	width: 1920px;
	height: 190px;
	margin-top: 750px;	
}

.slider_box_line_first{
	width: 800px;
	height: 190px;
	background: rgba(4,4,4,0.8); 	
	float: left; 
}

.slider_box_line_second{
	float: right;
	width: 1120px;
	height: 190px;
	background: rgba(4,4,4,0.97); 	
}

.slider_box_line_first_text{
	color: white;
	float: right;
	margin-right: 100px;
}

.--top{
	margin-top: 60px;
	font-size: 28px;
	font-family: 'Montserrat-Bold';
}

.--bottom{
	font-size: 14px;
	font-family: 'Montserrat-SemiBold';
	margin-top: 20px;
	margin-left: 500px;
	opacity: 0.5;
}

.slider_box_line_second_text{
	color: white;
	font-family: 'Montserrat-Regular';
	font-size: 14px;
	line-height: 25px;
	margin-top: 58px;
	margin-left: 90px;
	opacity: 0.8
}

.slider_box_line_second_button{
	position: absolute;
	color: white;
	font-size: 16px;
	font-family: 'Montserrat-Regular';
	border: 2px solid white;
	background: transparent;
	padding: 18px 30px;
	margin-left: 730px;
	margin-top: -45px;
	border-radius: 2px;
	outline: none;
}

.slider_box_line_second_button:hover{
	 box-shadow: 0px 0px 15px 1px white;
	 cursor: pointer;
}

.slider_box_line_second_button:active{
	box-shadow: 0px 0px 25px 5px white;
}

				.arrow_left, .arrow_right{
					position: absolute;
					margin-right: 50px;
					margin-left: 50px;
					z-index: 100;
					font-size: 50px;
					color: white;
					background: transparent;
					-webkit-background: transparent;
    				border: none;
    				outline: none;
				}

				.arrow_left{
					margin-top: 810px;
					background: transparent;
    				border: none;
    				outline: none;
				}

				.arrow_right{
					margin-left: 1810px;
					margin-top: -210px;
				}

.underslider_box{
	width: 1920px;
	height: 1080px;
	background-image:  url(../img/background_3.png);
}

div.underslider_box_top{
	width: 945px;
	height: 431px;
	float:right;
	margin-top: 80px;
	margin-right: 50px;
}
	div.underslider_box_top_img{
		position: relative;
		width: 945px;
		height: 431px;
	}

			div.--first{
				background-image: url(../img/dedert-1.png);
				background-position: 0px -50px;

			}	

			div.--second{
				background-image: url(../img/desert-2.png);
				background-position: 0px -50px;


			}
		
			div.--third{
				background-image: url(../img/desert-3.png);
				background-position: 0px -100px;
			}

div.underslider_box_botton{
	width: 945px;
	height: 431px;
	float:right;
	margin-top: 50px;
	margin-right: 50px;
	background: green;
}

	div.underslider_box_botton_img{
		position: relative;
		width: 945px;
		height: 431px;
	}

			div.--botton_first{
				background-image: url(../img/tea-2.png);
				background-size: cover;
				background-position: 0px -80px;
			}	

			div.--botton_second{
				background-image: url(../img/coffee-2.png);
				background-position: 0px -50px;
			}
		
			div.--botton_third{
				background-image: url(../img/tea-1.png);
				background-position: 0px -100px;
			}

.underslider_box_text{
	color: white;
	font-family: 'Montserrat-Medium';
	font-size: 31pt;
	padding-left: 200px;
	padding-top: 200px;
}

.underslider_box_text_second{
	color: white;
	font-family: 'Montserrat-Regular';
	line-height: 27px;
	font-size: 18pt;
	margin-top: 30px;
	margin-left: 200px;
}

.underslider_box_text_third{
	color: white;
	font-family: 'Montserrat-Regular';
	line-height: 27px;
	font-size: 14pt;
	margin-top: 30px;
	margin-left: 200px;
}

.underslider_box_text_fourth{
	color: #c10f1c;
	margin-left: 200px;
	line-height: 40px;
	font-family: 'Montserrat-Light';

}

			.--fourth{
				margin-top: 50px;
			}

			.--fourth>a{
				color: red;
				font-family: 'Montserrat-Light';
				font-size: 12pt;
			}

			.text_white_top{
				display: block;
				position: absolute;
				color: white;
				margin-left: 500px;
				margin-top: -28px;
				font-family: 'Montserrat-Light';

			}

			.text_white_botton{
				display: block;
				position: absolute;
				color: white;
				margin-left: 370px;
				margin-top: -30px;
				font-family: 'Montserrat-Light';
			}
					.text_white_botton>i{
						margin-right: 10px;
					}

/*COOK*/
.our_cook_wrap{
	width: 1920px;
	height: 570px;
	position: relative;
	border-top: 5px solid red;	
	border-bottom: 5px solid red;
}
	
		div.our_cook_box{
			width: 980px;
			height: 570px;
			position: relative;
		}

			div.our_cook_slide{
				width: 980px;
				height: 570px;
			}

			div.--cook-one{
				background-image: url(../img/cook_2.png);
				background-size: cover;
			}

			div.--cook-two{
				background-image: url(../img/cook_1.png);
				background-size: cover;
			}

			div.--cook-three{
				background-image: url(../img/cook_3.png);
				background-size: cover;
			}


.our_cook_box_after{
	width: 940px;
	height: 570px;
	background-image: url(../img/tea-3.1.png);
	background-size: cover;
	position: absolute;
	margin-top: -570px;
	margin-left: 980px;
	color: white;
}

	.our_cook_box_after_text_first{
		font-family: 'Montserrat-Medium';
		font-size: 28pt;
		margin-top: 100px;
		margin-right: 200px;
		text-align: right;
	}

	.our_cook_box_after_text_second{
		font-family: 'Montserrat-Medium';
		font-size: 31pt;
		margin-top: 10px;
		margin-right: 200px;
		text-align: right;

	}
	.our_cook_box_after_text_third{
		font-family: 'Montserrat-Medium';
		font-size: 24pt;
		margin-top: 65px;
		margin-right: 200px;		
		text-align: right;
	}
	.our_cook_box_after_text_fourt{
		font-family: 'Montserrat-Medium';
		font-size: 22pt;
		margin-top: 30px;
		margin-right: 200px;
		line-height: 45px;		
		text-align: right;
	}


	/*FOOTER*/


	.hot_drink{
		width: 1920px;
		height: 400px;
		background: black;
		border-bottom: 10px solid red;

	}

		.hot_drink_menu_box{
			display: inline-block;
			margin-right: -5px;
			width: 640px;
			height: 400px;
			background-size: cover;
			border-top: 5px solid red;
			border-bottom: 5px solid red;
		}

				.hot_drink_menu_box>p{
					display: block;
					position: absolute;
					width: 640px;
					height: 400px;
					background: rgba(0,0,0,0.7); 
					color: white;
	  				font-family: 'Montserrat-ExtraLight';
					font-size: 45pt;
					text-align: center;
					padding-top: 175px;
	  				font-family: 'Montserrat-ExtraLight';
	  				box-sizing: border-box;
	  				cursor: pointer;
	  				transition: background 0.5s;
				}

			.hot_drink_menu_box:hover>p{
				background: rgba(0,0,0,0.1); 

			}	

			.--hot_drink_first{
				background-image: url(../img/vine.png);
			}

			.--hot_drink_second{
				background-image: url(../img/ginnes.png);
			}

			.--hot_drink_third{
				background-image: url(../img/visky.png);
			}




	.footer{
		width: 1920px;
		height: 650px;
		background: grey;
		box-sizing: border-box;
		color: white;
		background-image: url(../img/footer.png);
	}

	.footer_wrap{
		position: absolute;
		z-index: 1;
		width: 1920px;
		height: 650px;
		background: rgba(0,0,0,0.9); 

	}

		.footer_map{
			z-index: 10;
			position: absolute;
			box-sizing: border-box;
			width: 673px;
			height: 410px;
			margin-left: 100px;
			margin-top: 120px;
			background-image: url(../img/map.png);
			background-size: cover;
		}

			.footer_text_first{
				position: relative;
				z-index: 10;
				font-family: 'Montserrat-Medium';
				font-size: 30pt;
				margin-left: 900px;
				padding-top: 100px;
			}

			.footer_text_second{
				position: relative;
				z-index: 10;
				font-family: 'Montserrat-Medium';
				font-size: 18pt;
				margin-left: 900px;
				padding-top: 45px;
				line-height: 30px;
			}

			.footer_text_third{
				position: relative;
				z-index: 10;
				font-family: 'Montserrat-Light';
				font-size: 14pt;
				margin-left: 900px;
				padding-top: 30px;
				line-height: 30px;
			}

			.footer_text_third>a{
			 	color: red;
			}

			.footer_text_fourth{
				position: relative;
				z-index: 10;
				font-size: 14pt;
				margin-left: 900px;
				padding-top: 30px;
				line-height: 25px;
				font-family: 'Montserrat-Regular';
			}

			.footer_text_adress{
				position: relative;
				z-index: 10;
				font-size: 14pt;
				margin-left: 930px;
				padding-top: 1px;
				line-height: 25px;
				font-family: 'Montserrat-Regular';
			}
			
			.footer_text_fifth{
				position: absolute;
				z-index: 10;
				color: white;
				font-family: 'Montserrat-Light';
				margin-top: 60px;
				margin-left: 210px;
				color: gold;
			}



